<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de usuario</title>
</head>
<body>
  <h1>cadastro de ususario</h1>
  <a href="/biblioteca"> <button>voltar</button></a>
  <form action="cadastroCliente" method="post">
    <p>nome do usuario</p>
    <input type="text" name="nome">
    <br>
    <p>cpf do usuario</p>
    <input type="text" name="cpf">
    <br>
    <p>senha do usuario</p>
    <input type="text" name="senha">
    <br>
    <button type="submit">cadastrar</button>
  </form>
  <p>{{saida}}</p>
</body>
</html>