<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cadastro de biblioteca</title>
</head>
<body>
    <h1>realize seu cadastro</h1>
    <form action="cadastroBiblioteca" method="post">

        <P>nome</P>
        <input type="text" name="nome">

        <p>responsavel</p>
        <input type="text" name="responsavel">

        <p>cidade</p>
        <input type="text" name="cidade">

        <p>cnpj</p>
        <input type="text" name="cnpj">

        <p>senha</p>
        <input type="text" name="senha">

        <button type = "submit" name = "cadastrar"> realizar cadastro </button>
    </form>
</body>
</html>