<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="cadastro_livro" method="post">
        <p>titulo</p>
        <input type="text" id="titulo" name="titulo">
        <br>
        <p>autor</p>
        <input type="text" id="autor" name="autor">
        <br>
        <p>editora</p>
        <input type="text" id="editora" name="editora">
        <br>
        <p>ano_publicacao</p>
        <input type="date" id="ano_publicacao" name="ano_publicacao">
        <br>
        <p>isbn</p>
        <input type="text" id="isbn" name="isbn">
        <br>
        <p>genero</p>
        <input type="text" id="genero" name="genero">
        <br>
        <p>quantidade_total</p>
        <input type="number" id="quantidade_total" name="quantidade_total">
        <br>
        <button type="submit">enviar</button>
    </form>
</body>
</html>