<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="deposito" method="post">
        <p>valor</p>
        <input type="text" id="valor" name="valor">
        <p>email</p>
        <input type="text" id="email" name="email">
        <p>senha</p>
        <input type="text" id="senha" name="senha">
        <button type="submit">enviar</button>
    </form>
</body>
</html>