<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Inicio Funcionario: {{info[0].email}}</h1>
    <a href="/cadastro_livro"><button>cadastro livro</button></a>
    <a href="/listagem_livros"><button>listagem livros</button></a>
    <a href="/listagem_emprestimo"><button>listagem emprestimo</button></a>
    <a href="/deposito"><button>realizar deposito</button></a>
    <a href="/listagem_multa_funci"><button>listagem multas</button></a>
    <a href="/sair"><button>sair</button></a>
</body>
</html>