<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <H1> tela de login </H1>
    <a href="/"> <button> voltar </button></a>
    <form action="login" method="POST">

        <p> cnpj </p>
        <input type = "text" name = "cnpj" >

        <p> senha </p>
        <input type = "text" name = "senha" >
        <br>
        <button type = "submit" name = "entra" > entra </button>
        <br>
        <p>{{saida}}</p>
        <a href="/cadastroBiblioteca" > criar conta </a>
    </form>
</body>
</html>